@import '../assets/global';

body {
  background-color: map-get($brand-color, blue);
  color: map-get($brand-color, white);
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}
